include AUTHORS.md
include CONTRIBUTING.rst
include changelog.md
include LICENSE
include README.md

include requirements_dev.txt
include requirements_continuous_integration.txt



graft flatland/png
graft env_data


recursive-include tests *
recursive-exclude * __pycache__
recursive-exclude * *.py[co]

recursive-include docs *.rst *.md conf.py *.jpg *.png *.gif
